:root { 
  -- amarelo-principal: #EDF9A5;
  -- azul-segundaria: #6B90C2;
  -- botao-verde: #99B787;
  -- cor-de-fundo: #8F5825;
  --fonte-principal: 'Inter'
}

body { 
  background-color: var (--cor-de-fundo);
  color: var (--amarelo-principal); 
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

{ 
margin: 0; 
padding: 0; 
}

.principal { 
  background-image: url ("IMG-20240421-WA0042.jpg")
  background-repeat:no-repeat;
  background-size: contain; 
  aling-intens: center;
  text-align: center;
    }

.container {
  height: 100vh;
  display:grid; 
  grid-template-columns: 50% 50%; 
}

.container_botao { 
background-color: var(--botao-verde);
  border-radius: 10px;
  padding: 1em;
  color: var(--amarelo-principal); 
  display: block; 
  text-decoration: none;
  margin-bottom: 1em;
}

.botao_segundario {
  background-color: transparente 
  border: 2px solid var (--amarelo-principal) 
}

container_aviso {
  font-size: 16px;
  color: var(--azul-segundario);
}

.container__imagem {
  margin: 1em 0 2em 0; 
}

.container__titulo {
font-size: 28px;
font-weigth: 700;
}

.container__caixa {
  margin: 0 6em; 
}

.segundario__imagem {
  width: 80%;
}

.segundario { 
align-itens: center;
  margin: 0 10em; 
}

.descricao__titulo {
  font-weight:700;
  font-size: 48px;
  color: var (--amarelo-principal);
  margin-botton: 0.5em
}

.descricao__texto {
  color: var(--azul-segundario);
}

.segundario__botao {
display: inline-block; 
margin-top: 1em; 
}

.container__descricao {
  padding: 2em; 
}

.livros { 
  display: flex; 
 justify-content:center;
}
