:root { 
  -- amarelo-principal: #EDF9A5;
  -- azul-segundaria: #6B90C2;
  -- botão-verde: #99B787;
  -- cor-de-fundo: #8F5825;
}

body { 
  background-color: var (--cor-de-fundo);
  color: var (--amarelo-principal); 
}

{ 
margin: 0; 
padding: 0; 
}

.principal { 
  background-image: url ("img/background.png")
    }
